@import url(reset.css);

@font-face {
      font-family: vazirNormal;
      src: url('../fonts/vazir.eot');
      src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
      font-weight: normal;
      font-display: swap;
}

@font-face {
      font-family: vazirBold;
      src: url('../fonts/vazir-bold.eot');
      src: url('../fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir-bold.woff2') format('woff2'), url('../fonts/vazir-bold.woff') format('woff'), url('../fonts/vazir-bold.ttf') format('truetype');
      font-weight: normal;
      font-display: swap;
}

@font-face {
      font-family: iranMarker;
      src: url('../fonts/IRANMarker.ttf');
      src: format('truetype');
      font-weight: normal;
      font-display: swap;
}


body {
      background-color: #f1f1f1;
      font-family: vazirNormal;
}

#regForm {
      background-color: #ffffff;
      margin: 100px auto;
      font-family: Raleway;
      padding: 40px;
      width: 70%;
      min-width: 300px;
}

h1 {
      font-family: iranMarker;
}
h3{

      color: #04AA6D;
}
input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
      background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
      display: none;
}

button {
      background-color: #04AA6D;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
}

button:hover {
      opacity: 0.8;
}

#prevBtn {
      background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
}

.step.active {
      opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
      background-color: #04AA6D;
}


/***footer***/

.footerbox {
      background-color: #B1D7B4;
      color: rgb(21, 51, 21);
}

.footericone {
      color: #0b440b;
      font-size: 20px;
}

.footericone:hover {
      color: #5acf5a;
      transition: 0.25s;
      font-size: 22px;
}

.developer:hover {
      font-size: 18px;
}